<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: <?js= title ?></title>
    
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="dependencies/tct-foundation/dist/tct-foundation.css">
</head>

<body class="antialiased">

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    
    <nav class="top-bar docs-bar hide-for-small" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">The Cocktail <span>Toolbox</span></a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li class="has-form">
            <a href="http://foundation.zurb.com/docs" class="small button">Getting Started</a>
          </li>
        </ul>
      </section>
    </nav>
    
    <nav class="tab-bar show-for-small">
      <div class="left-small">
        <a href="#" role="button" class="left-off-canvas-toggle menu-icon"><span></span></a>
      </div>
    </nav>

    <!-- Off Canvas Menu -->
    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <?js= this.nav ?>
      </ul>
    </aside>

    <!-- close the off-canvas menu -->
    <a class="exit-off-canvas"></a>

    <section class="scroll-container main-section" role="main">
      <div class="row">
        <div class="large-3 medium-4 columns">
          <div class="hide-for-small">
            <div class="sidebar">
              <nav>
                <ul class="side-nav">
                  <?js= this.nav ?>
                </ul>
              </nav>
            </div>
          </div>
        </div>

        <div class="large-9 medium-8 columns">
          <div id="main">
            <h1 class="page-title"><?js= title ?></h1>
            
            <?js= content ?>

          </div>
        </div>
      </div>
      <footer>
        <div class="row">
          Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a> on <?js= (new Date()) ?>
        </div>
      </footer>
    </section>
  </div>
</div>

<div id="footer">
  <div class="row">
    <div class="full columns">
      <div class="logo_tce">The Cocktail</div>
    </div>
  </div>
</div> 

<script type="text/javascript" src="dependencies/jquery/dist/jquery.min.js"></script> 
<script type="text/javascript" src="dependencies/foundation/js/foundation.js"></script> 
<script type="text/javascript" src="dependencies/foundation/js/foundation/foundation.offcanvas.js"></script>
<script type="text/javascript" src="dependencies/prettify/bin/run_prettify.min.js"></script> 
<script type="text/javascript" src="dependencies/tct-foundation/dist/tct-foundation.js"> </script>

</body>
</html>
