$speed: 0.75s;
$ease-out: cubic-bezier(0.19, 1, 0.22, 1);
$ease-in: $ease-out;

.tct-collapsable{
  &__content{
    overflow: hidden;
  }
  
  &__content--no-transition{
    transition: none!important;
  }
  
  &--collapsed &__content{
    height: 0;
  }
  
  &--expanded &__content{
    height: auto;
  }

  &__content--animated{
    transition-property: height;
    transition-duration: $speed;
  }
  
  &--expanded &__content--animated{
    transition-timing-function: $ease-in;
  }

  &--collapsed &__content--animated{
    transition-timing-function: $ease-out;
  }
}